node_modules
out
mitm_redirect
.database
scripts/in
.cdn
.misc
web/public/tailwind.css
scripts/__pycache__
dist
build
.coredns/coredns.exe
.mitmproxy/mitmproxy.exe
.mitmproxy/mitmweb.exe
.mitmproxy/mitmdump.exe
.unzip-temp