#Sample nginx configuration for Starpoint. Change as needed per env.

#TODO: Consider potentially making these environment variables.
map $host $STARPOINT_REMOTE_URL {
    default "http://localhost:8000";
}

#Location of the starpoint private key with which all the other certs are signed.
map $host $STARPOINT_PRIVATEKEY {
    default "/etc/nginx/private/starpoint_multiversal.key";
}

#Location and certificate name perfix for all public certificates
map $host $STARPOINT_PUBKEY_PREFIX {
    default "/etc/ssl/certs/starpoint";
}

server {
        listen 80;
        listen [::]:80;

        server_name starpoint.local;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass ${STARPOINT_REMOTE_URL}$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        server_name na.wdfp.kakaogames.com;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_wdfp_global.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass ${STARPOINT_REMOTE_URL}$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_wdfp_global.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        server_name patch.wdfp.kakaogames.com;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass ${STARPOINT_REMOTE_URL}/patch$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_zinny3_openapi.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;
        server_name openapi-zinny3.game.kakaogames.com;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass ${STARPOINT_REMOTE_URL}/openapi$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_zinny3_openapi_gc.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        server_name gc-openapi-zinny3.kakaogames.com;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass ${STARPOINT_REMOTE_URL}/openapi$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_zinny3_infodesk_gc.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        server_name gc-infodesk-zinny3.kakaogames.com;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass ${STARPOINT_REMOTE_URL}/infodesk$request_uri;
        }
}
