#Sample nginx configuration for Starpoint. Change as needed per env.

#TODO: Consider potentially making these environment variables.
#TODO: Consider doing redirects to the same hosts that the coredns file does
map $host $STARPOINT_REMOTE_URL {
    default "http://localhost:8000";
}

#Location of the starpoint private key with which all the other certs are signed.
map $host $STARPOINT_PRIVATEKEY {
    default "/etc/nginx/private/starpoint_multiversal.key";
}

#Location and certificate name perfix for all public certificates
map $host $STARPOINT_PUBKEY_PREFIX {
    default "/etc/ssl/certs/starpoint";
}

server {
        listen 80;
        listen [::]:80;

        server_name starpoint.local;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass_request_headers on;
                proxy_pass ${STARPOINT_REMOTE_URL}$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        server_name na.wdfp.kakaogames.com;

        underscores_in_headers on;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_wdfp_global.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        location /latest/api/index.php {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass_request_headers on;
                proxy_pass ${STARPOINT_REMOTE_URL}$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        #While this endpoint SHOULDN'T require https ever according to present knowledge, I've included the config options for it below in case there's an instance where it's required. 
        #It shouldn't attempt to auto-upgrade a connection, and currently this uses the same certificate as na does.
        listen 443 ssl;
        listen [::]:443 ssl;

        server_name patch.wdfp.kakaogames.com;

        underscores_in_headers on;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_wdfp_global.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass_request_headers on;
                proxy_pass ${STARPOINT_REMOTE_URL}/patch$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        server_name openapi-zinny3.game.kakaogames.com;

        underscores_in_headers on;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_zinny3_openapi.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass_request_headers on;
                proxy_pass ${STARPOINT_REMOTE_URL}/openapi$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        server_name gc-openapi-zinny3.kakaogames.com;

        underscores_in_headers on;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_zinny3_openapi_gc.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass_request_headers on;
                proxy_pass ${STARPOINT_REMOTE_URL}/openapi$request_uri;
        }
}

server {
        listen 80;
        listen [::]:80;
        listen 443 ssl;
        listen [::]:443 ssl;

        server_name gc-infodesk-zinny3.kakaogames.com;

        underscores_in_headers on;

        ssl_certificate ${STARPOINT_PUBKEY_PREFIX}_zinny3_infodesk_gc.crt;
        ssl_certificate_key $STARPOINT_PRIVATEKEY;

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass_request_headers on;
                proxy_pass ${STARPOINT_REMOTE_URL}/infodesk$request_uri;
        }
}
